*{box-sizing: border-box; margin: 0; border: 0;}
html{
    scroll-behavior: smooth;
}
:root{
    --lightFont: rgb(255, 240, 213);
    --greenBackground: rgb(0, 63, 0);
}
::selection{
    background: var(--greenBackground);
    color: var(--lightFont);
}
.hero{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--greenBackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .hero a:link, .hero a:visited, .hero a.hover, .hero a.active{
        text-decoration: none;
    }
    .hero h1{
        color: var(--lightFont);
        font-size: 3rem;
        cursor: pointer;
        position: relative;
        z-index: 2;  
    }

.second{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(168, 138, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .second p{
        color: rgba(0, 0, 0, 0.747);
        font-size: 2rem;
    }